.header {
  display: flex;
  width: 100vw;
  height: 50px;
  background-color: #d9d6e1;
  align-items: center;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.info__user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.link-logout {
  margin-left: 30px;
  cursor: pointer;
}

.logout {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__container {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.account_circle {
  cursor: pointer;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message__container {
  display: flex;
  align-items: center;
  gap: 3px;
}

.message {
  color: #15821b;
}

.error {
  color: #f44336;
}

.close {
  cursor: pointer;
  color: #f44336;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message__logout {
  width: 400px;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: flex-end;
}
